#navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px; 
    display: flex; 
    align-items: center; 
  }
  
  #navbar .heading {
    margin-right: auto; 
    font-size: 24px; 
    text-transform: uppercase; 
  }
  
  #navbar a {
    color: white;
    text-decoration: none;
    margin-left: 10px; 
  }
  
  #navbar a:hover {
    text-decoration: underline; 
  }
  